<div class="footer">
  <div class="columns-12">
    <div class="col-sm-6">
      <%= link_to "Wardrobe", "https://github.com/qazbnm456/Wardrobe", :target => '_blank' %> by Boik
    </div>
    <div class="col-sm-6 align-right">
      <nav>
        <ul>
          <li><a href="/status" target="_blank">Status</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>